@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  background-color: #282c34;
}

body {
  background-color: #282c34;
}

.home {
    background-color: #282c34;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);

  }

.footer {
  background-color: #282c34;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  max-height: 30vh;
}